<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>海尔售后平台管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../icheck/minimal/red.css">
    <link rel="stylesheet" type="text/css" href="./CSS/user.css">
    <script type="text/javascript" src="../util.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">山香教育管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!-- <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="admin.html">用户列表</a></li>
          <li class="layui-nav-item"><a href="member.html">会员列表</a></li>
        </ul> -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <!--  <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
                    贤心
                </a>
                <!-- <dl class="layui-nav-child">
                  <dd><a href="">基本资料</a></dd>
                  <dd><a href="">安全设置</a></dd>
                </dl> -->
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="../professionalTwo.html">广告图片管理</a></li>

                <li class="layui-nav-item"><a href="../score.html">新闻中心</a></li>

                <li class="layui-nav-item"><a href="../user.html">意见反馈</a></li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../order/allOrder.html">所有订单</a></dd>
                        <dd><a href="../order/daibaodingdan.html">待报价单</a></dd>
                        <dd><a href="../order/daifuwu.html">待服务单</a></dd>
                        <dd><a href="../order/finished.html">已完结单</a></dd>
                        <dd><a href="../order/searchOrder.html">订单查询</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="user.html" class="layui-this">用户列表</a></dd>
                        <dd><a href="service.html">服务商列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">提现管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../moneyManager/userMoney.html">个人用户</a></dd>
                        <dd><a href="../moneyManager/serviceMoney.html">服务商</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">类别添加</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../categoryToAdd.html">类别添加</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">服务级别管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../serviceLevelManager.html">管理员添加</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">城市管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../cityManager.html">设置开通城市</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!-- 主显示页面 -->
            <fieldset style="padding:20px 10px;">
                <legend class="title">用户管理</legend>

                <!-- 查询区域 -->
                <div class="search">
                    <input type="text" name="" class="base" placeholder="请输入电话号码" id="phone">
                    <input type="text" name="" class="base" placeholder="请输入区域" id="addr">
                    <button class="s-btn" id="search">查询</button>
                </div>

                <div class="button-group">
                    <button class="base" style="background-color: #1E9FFF;" id="add"> <i class="layui-icon">&#xe654;</i>启用</button>
                    <button class="base" style="background-color: #FF5722;" id="delete"><i class="layui-icon">&#xe640;</i>禁用</button>
                    <button class="base" style="background-color: #009688;" id="refresh"><i class="layui-icon">&#x1002;</i>刷新</button>
                </div>
                <table class="layui-table" id="table" style="font-size:30px;">

                </table>
            </fieldset>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->

        </div>
    </div>
    <script type="text/javascript" src="../javascript/jquery.min.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../icheck/icheck.js"></script>
    <script type="text/javascript" src="../javascript/dw.js"></script>
    <script type="text/javascript" src="./JS/user.js"></script>
</body>
</html>